body {
	overflow: scroll;
    margin:0;
    font-family: Trebuchet, Verdana, sans-serif;
    font-size:90%;
}

.wrapper {
  width:600px;
  margin-top:80px;
  margin-left:auto;
  margin-right:auto;
  height:200px;
}

.introduction {
  color:#9E9E9E;
}

pre {
	border: 1px solid #E2E1D5;
	background-color: #FBF9EA;
	font-size:80%;
	font-family: monaco, monospaced;
	color: #444444;
}

*[smart="true"] {
	margin-top:10px;
	margin-bottom:10px;
	padding: 1px 5px 1px 10px;
    background-color:#d0f9ce;
}